.sectionHome {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.behr.cl/binaries/_ht_1579718352325/content/gallery/behrpaintdotcom-mx/inspiration-images/living-room/living_room_modern_bronze.jpg");
  height: 550px;

  &__headerHome {
    $border: 5px;
    padding: 45px;

    &__title {
      color: white;
      font-size: 25px;
      font-weight: bold;
    }

    &__form {
      width: 400px;
      padding: 20px;
      padding: 10px;
      background-color: white;
      border-radius: $border;

      &__title {
        color: gray;
        font-size: 15px;
        margin: 0 0 10px 0;
      }

      &__input {
        width: -webkit-fill-available;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: $border;
        border: 1px solid #bdbdbd;

      }

      &__button {
        width: 100%;
        height: 35px;
        padding: 5px;
        font-size: 15px;
        color: white;
        border: 0px;
        background-color: #007aff;
        border-radius: $border;
      }
    }
  }
}

@media (max-width: $mobile) {
  .sectionHome {
    height: 100vh;

    &__headerHome {
      padding: 10px;
      padding-top: 50%;

      &__form {
        width: auto;
      }
    }
  }
}